<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <title> {{ title }} </title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fawesome/all.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/mdb.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/chosen.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datatables/datatables.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datatables/dt_bootstrap4.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="https://www.antonioalayon.com/">
            <img src="/static/img/logo.png" width="75%" height="75%" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item borders-out">
                    <a class="nav-page nav-link" href="{{ url_for('index') }}">Inicio</a>
                </li>
                <li class="nav-item borders-out">
                    <a class="nav-page nav-link" href="{{ url_for('patients') }}">Pacientes</a>
                </li>
                <li class="nav-item borders-out">
                    <a class="nav-page nav-link" href="#">Gráficas</a>
                </li>
            </ul>
        </div>
    </nav>

    <footer class="page-footer font-small elegant-color pt-4">
        <div class="container-fluid text-center text-md-left">
            <div class="center row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h5 class="text-uppercase">CAMDEX Tool</h5>
                    <p>Herramienta desarrollada como TFG para la Clínica Neurológica Alayón</p>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-6 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Contáctame</h5>
                    <a href="https://www.linkedin.com/in/omarmendo/" target="_blank"><i class="icon fab fa-linkedin fa-2x"></i></a>
                    <a href="https://github.com/beejeke" target="_blank"><i class="icon fab fa-github-square fa-2x"></i></a>
                    <a href="https://twitter.com/beejeke" target="_blank"><i class="icon fab fa-twitter-square fa-2x"></i></a>
                    <a href="https://beejeke.github.io/" target="_blank"><i class="icon fas fa-envelope-square fa-2x"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://beejeke.github.io/"> Omar Mendo </a>
        </div>
    </footer>

    <div id="content">{% block content %} {% endblock %}</div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap/mdb.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap/chosen.jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/datatables/datatables.min.js') }}"></script>

    <script>
    $(document).ready(function(){
        $(".chosen").chosen({allow_single_deselect: true});
    });
    </script>

    {% block scripts %}{% endblock %}

</body>
</html>