{% extends "base.html" %}

{% set title = "Pacientes" %}

{% block content %}

<div style="padding-top:20px; text-align: center; position: center;" class="bootstrap-iso">
    <div class="container-fluid">
        <div style="padding: 40px;" id="center" class="row">
            {% include 'patient_selector.html' %}
        </div>
    </div>
</div>

<div class="card">
    <table id="camdex_patient" class="display">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>E-mail</th>
                <th>Edad</th>
                <th>DNI</th>
                <th>F. Nacimiento</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Juan Pérez Pérez</td>
                <td>Calle La Pista, Portal B, 34 - Fasnia</td>
                <td>622838392</td>
                <td>prueba@hotmail.com</td>
                <td>81</td>
                <td>12345678A</td>
                <td>24-11-1937</td>
            </tr>
        </tbody>
    </table>

    <table id="camdex" class="display">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>MMSE</th>
                <th>MEC</th>
                <th>Test Roth y Hopkins</th>
                <th>Camcog total</th>
                <th>Orientación</th>
                <th>Lenguaje total</th>
                <th>Lenguaje comprensivo</th>
                <th>Lenguaje productivo</th>
                <th>Memoria total</th>
                <th>Memoria reciente</th>
                <th>Memoria remota</th>
                <th>Memoria aprendizaje</th>
                <th>Atención-concentración</th>
                <th>Praxis</th>
                <th>Cálculo</th>
                <th>Pensamiento abstracto</th>
                <th>Percepción táctil-visual</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Juan Pérez Pérez</td>
                <td>15,20,20,16/30</td>
                <td>16,21,21,18/35</td>
                <td>4,3,4,3/10</td>
                <td>50,53,57,57/107</td>
                <td>6,7,7,7/10</td>
                <td>18,18,20,20/30</td>
                <td>8,8,9,9/9</td>
                <td>10,10,11,11/21</td>
                <td>11,10,10,12/27</td>
                <td>1,2,2,2/4</td>
                <td>2,3,3,4/6</td>
                <td>8,5,6/17</td>
                <td>0,0,1,0/7</td>
                <td>5,6,8,7/12</td>
                <td>0,1,0,1/2</td>
                <td>2,3,2,2/8</td>
                <td>5,5,6,6/11</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/camdex_info_dt.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/camdex_dt.js') }}"></script>

{% endblock %}