html, body{
    height: 100%;
}

body {
    background-color: #e7ffea;
    margin: 0;
    padding: 0;
    height: 100%;
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
    font-family: 'Open Sans', sans-serif;
    width: auto;
    visibility: hidden;
}

.a1 {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 16px;
    cursor: pointer;
}

.page-footer {
    width: 100%;
    color: white;
}

.footer-copyright {
    background-color: #272727;
}

.nav-page {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 20px;
    cursor: pointer;
}

.center {
    text-align: center;
}

.card {
    width: 90%;
    margin: 25px auto 100px auto;

}
.icon {
    margin: 10px;
    transition: 0.5s;
}

.fa-linkedin {
    color: #e3e3e3;
}

.fa-github-square {
    color: #e3e3e3;
}

.fa-twitter-square {
    color: #e3e3e3;
}

.fa-envelope-square {
    color: #e3e3e3;
}

.fa-linkedin:hover {
    color: #00a5ff;
}

.fa-github-square:hover {
    color: #faffa2;
}

.fa-twitter-square:hover {
    color: #64e1ff;
}

.fa-envelope-square:hover {
    color: #ad3324;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}