{% extends "base.html" %}

{% set title = "Gráficas" %}

{% block content %}

<div style="padding-top:20px; text-align: center; position: center;" class="bootstrap-iso">
    <div class="container-fluid">
        <div style="padding: 40px;" id="center" class="row">
            {% include 'patient_selector.html' %}
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5>Datos de examen CAMDEX</h5>
    </div>
    <div class="card-body">
        <table id="camdex" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 30">MMSE</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 35">MEC</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 10">Test Roth y Hopkins</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 107">Camcog total</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 10">Orientación</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 30">Lenguaje total</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 9">Lenguaje comprensivo</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 21">Lenguaje productivo</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 27">Memoria total</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 4">Memoria reciente</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 6">Memoria remota</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 17">Memoria aprendizaje</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 7">Atención-concentración</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 12">Praxis</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 2">Cálculo</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 8">Pensamiento abstracto</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 11">Percepción táctil-visual</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div style="padding-bottom:40px;" id="accordion">
    <div class="card">
        <div style="text-align: center;position:relative;" class="card-header" id="headingOne">
            <h3 class="mb-0">
                <button id="show-mmse-btn" class="btn btn-info" data-toggle="collapse" data-target="#collapse-mmse-chart" aria-expanded="true" aria-controls="collapse-mmse-chart">
                    Gráfica - MMSE
                </button>
                <button id="show-mec-btn" class="btn btn-info chart_btn" data-toggle="collapse" data-target="#collapse-mec-chart" aria-expanded="false" aria-controls="collapse-mec-chart">
                    Gráfica - MEC
                </button>
                <button id="show-ryh-btn" class="btn btn-info chart_btn" data-toggle="collapse" data-target="#collapse-ryh-chart" aria-expanded="false" aria-controls="collapse-ryh-chart">
                    Gráfica - RyH
                </button>
                <button id="show-ct-btn" class="btn btn-info chart_btn" data-toggle="collapse" data-target="#collapse-ct-chart" aria-expanded="false" aria-controls="collapse-ct-chart">
                    Gráfica - CT
                </button>
                <button id="show-ori-btn" class="btn btn-info chart_btn" data-toggle="collapse" data-target="#collapse-ori-chart" aria-expanded="false" aria-controls="collapse-ori-chart">
                    Gráfica - ORI
                </button>
                <button id="show-lt-btn" class="btn btn-warning chart_btn" data-toggle="collapse" data-target="#collapse-lt-chart" aria-expanded="false" aria-controls="collapse-lt-chart">
                    Gráfica - LT
                </button>
                <button id="show-lc-btn" class="btn btn-warning chart_btn" data-toggle="collapse" data-target="#collapse-lc-chart" aria-expanded="false" aria-controls="collapse-lc-chart">
                    Gráfica - LC
                </button>
                <button id="show-lp-btn" class="btn btn-warning chart_btn" data-toggle="collapse" data-target="#collapse-lp-chart" aria-expanded="false" aria-controls="collapse-lp-chart">
                    Gráfica - LP
                </button>
                <button id="show-mt-btn" class="btn btn-success chart_btn" data-toggle="collapse" data-target="#collapse-mt-chart" aria-expanded="false" aria-controls="collapse-mt-chart">
                    Gráfica - MT
                </button>
                <button id="show-mrec-btn" class="btn btn-success chart_btn" data-toggle="collapse" data-target="#collapse-mrec-chart" aria-expanded="false" aria-controls="collapse-mrec-chart">
                    Gráfica - MREC
                </button>
                <button id="show-mrem-btn" class="btn btn-success chart_btn" data-toggle="collapse" data-target="#collapse-mrem-chart" aria-expanded="false" aria-controls="collapse-mrem-chart">
                    Gráfica - MREM
                </button>
                <button id="show-ma-btn" class="btn btn-success chart_btn" data-toggle="collapse" data-target="#collapse-ma-chart" aria-expanded="false" aria-controls="collapse-ma-chart">
                    Gráfica - MA
                </button>
                <button id="show-ac-btn" class="btn btn-danger chart_btn" data-toggle="collapse" data-target="#collapse-ac-chart" aria-expanded="false" aria-controls="collapse-ac-chart">
                    Gráfica - AC
                </button>
                <button id="show-pr-btn" class="btn btn-danger chart_btn" data-toggle="collapse" data-target="#collapse-pr-chart" aria-expanded="false" aria-controls="collapse-pr-chart">
                    Gráfica - PR
                </button>
                <button id="show-cal-btn" class="btn btn-danger chart_btn" data-toggle="collapse" data-target="#collapse-cal-chart" aria-expanded="false" aria-controls="collapse-cal-chart">
                    Gráfica - CAL
                </button>
                <button id="show-pabs-btn" class="btn btn-danger chart_btn" data-toggle="collapse" data-target="#collapse-pabs-chart" aria-expanded="false" aria-controls="collapse-pabs-chart">
                    Gráfica - PABS
                </button>
                <button id="show-ptv-btn" class="btn btn-danger chart_btn" data-toggle="collapse" data-target="#collapse-ptv-chart" aria-expanded="false" aria-controls="collapse-ptv-chart">
                    Gráfica - PTV
                </button>
            </h3>
        </div>
        <div id="collapse-mmse-chart" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="table_prototype">
                <div id="mmse_chart" class="data_chart"></div>
            </div>
        </div>
        <div id="collapse-mec-chart" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="table_prototype">
                <div id="mec_chart" class="data_chart"></div>
            </div>
        </div>
        <div id="collapse-ryh-chart" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="table_prototype">
                <div id="ryh_chart" class="data_chart"></div>
            </div>
        </div>
        <div id="collapse-ct-chart" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="table_prototype">
                <div id="ct_chart" class="data_chart"></div>
            </div>
        </div>
        <div id="collapse-ori-chart" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="table_prototype">
                <div id="ori_chart" class="data_chart"></div>
            </div>
        </div>
        <div id="collapse-lt-chart" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="table_prototype">
                <div id="lt_chart" class="data_chart"></div>
            </div>
        </div>
        <div id="collapse-lc-chart" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="table_prototype">
                <div id="lc_chart" class="data_chart"></div>
            </div>
        </div>
        <div id="collapse-lp-chart" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
            <div class="table_prototype">
                <div id="lp_chart" class="data_chart"></div>
            </div>
        </div>
        <div id="collapse-mt-chart" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
            <div class="table_prototype">
                <div id="mt_chart" class="data_chart"></div>
            </div>
        </div>
        <div id="collapse-mrec-chart" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
            <div class="table_prototype">
                <div id="mrec_chart" class="data_chart"></div>
            </div>
        </div>
        <div id="collapse-mrem-chart" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
            <div class="table_prototype">
                <div id="mrem_chart" class="data_chart"></div>
            </div>
        </div>
        <div id="collapse-ma-chart" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">
            <div class="table_prototype">
                <div id="ma_chart" class="data_chart"></div>
            </div>
        </div>
        <div id="collapse-ac-chart" class="collapse" aria-labelledby="headingOne1" data-parent="#accordion">
            <div class="table_prototype">
                <div id="ac_chart" class="data_chart"></div>
            </div>
        </div>
        <div id="collapse-pr-chart" class="collapse" aria-labelledby="headingTwo2" data-parent="#accordion">
            <div class="table_prototype">
                <div id="pr_chart" class="data_chart"></div>
            </div>
        </div>
        <div id="collapse-cal-chart" class="collapse" aria-labelledby="headingThree3" data-parent="#accordion">
            <div class="table_prototype">
                <div id="cal_chart" class="data_chart"></div>
            </div>
        </div>
        <div id="collapse-pabs-chart" class="collapse" aria-labelledby="headingFour4" data-parent="#accordion">
            <div class="table_prototype">
                <div id="pabs_chart" class="data_chart"></div>
            </div>
        </div>
        <div id="collapse-ptv-chart" class="collapse" aria-labelledby="headingFive5" data-parent="#accordion">
            <div class="table_prototype">
                <div id="ptv_chart" class="data_chart"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/edit_patient_dt.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/camdex_info_dt.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/camdex_dt.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/extract.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly/plotly-latest.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly/plotly-locale-es-latest.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly_charts/mmse_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly_charts/mec_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly_charts/ryh_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly_charts/ct_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly_charts/ori_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly_charts/lt_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly_charts/lc_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly_charts/lp_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly_charts/mt_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly_charts/mrec_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly_charts/mrem_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly_charts/ma_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly_charts/ac_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly_charts/pr_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly_charts/cal_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly_charts/pabs_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly_charts/ptv_chart.js') }}"></script>

{% endblock %}