{% extends "base.html" %}

{% set title = "Pacientes" %}

{% block content %}

{% include 'messages.html' %}

<div class="alert alert-info alert-dismissible fade show" role="alert" style="text-align: center;">
    <strong>¡Bienvenid@!</strong> Aquí podrás <strong>añadir</strong> el historial de un nuevo paciente, <strong>modificar</strong>
    sus datos o <strong>borrar</strong> su historial clínico.
    <br>
    <br>
    Además, podrás consultar los datos del <strong> examen CAMDEX </strong> del paciente que seleccione.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div style="padding-top:20px; text-align: center; position: center;" class="bootstrap-iso">
    <div class="container-fluid">
        <div style="padding: 40px;" id="center" class="row">
            {% include 'patient_selector.html' %}
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5>Información del paciente</h5>
    </div>
    <div class="card-body">
        <table id="camdex_patient" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>E-mail</th>
                    <th>Edad</th>
                    <th>DNI</th>
                    <th>F. Nacimiento</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5>Datos de examen CAMDEX</h5>
    </div>
    <div class="card-body">
        <table id="camdex" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 30">MMSE</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 35">MEC</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 10">Test Roth y Hopkins</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 107">Camcog total</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 10">Orientación</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 30">Lenguaje total</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 9">Lenguaje comprensivo</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 21">Lenguaje productivo</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 27">Memoria total</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 4">Memoria reciente</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 6">Memoria remota</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 17">Memoria aprendizaje</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 7">Atención-concentración</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 12">Praxis</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 2">Cálculo</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 8">Pensamiento abstracto</th>
                    <th data-toggle="tooltip" data-placement="top" title="Valor máximo de medición: 11">Percepción táctil-visual</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/edit_patient_dt.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/camdex_info_dt.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/camdex_dt.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/extract.js') }}"></script>

{% endblock %}